<h1>Eat-Da-Burger</h1>

<form>
    <p>
        <label for="burger_name">Add A Burger Here!</label>
    </p>
    <p>
        <input id="burger_name" type="text">
    </p>
    <p>
        <button id="addBurger" type="submit">Add Burger</button>
    </p>
</form>
<br>
{{#each burgers}}
<div>
    {{id}} {{burger_name}} <button id="updateBurger" data-uid="{{id}}">Eat Me</button>
</div>
<hr>
{{/each}}